*
{
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

#rcorners1 {
  background: #065757;
  padding: 10px; 
  width: 300px;
  height: 600px; 
  color: #fff;
  text-align: center;
  font-size: 22px;
  margin-left: -100px;
}

#rcorners2 {
  margin-top: -5px;
  border-radius: 70px 0px 0px 70px;
  background: #fff;
  padding: 10px; 
  width: 900px;
  height: 570px; 
  margin-left: -60px;
}

#rcorners3 {
  border-radius: 50px;
  background: #065757;
  padding: 20px; 
  width: 200px;
  height: 150px;
  margin-left: -33px;
}

#rcorners4 {
  border-radius: 50px;
  background: #E56C15;
  padding: 20px; 
  width: 200px;
  height: 150px;
  margin-left: -20px;
}

#rcorners5 {
  border-radius: 50px;
  background: #065757;
  padding: 20px; 
  width: 200px;
  height: 150px;
}

#rcorners6 {
  border-radius: 50px;
  padding: 20px; 
  width: 720px;
  height: 200px;
}

.container{
  display: flex;
  align-items: center;
}

.backshapes {
  position: relative;
  display: flex;
  width: 100%;
}

.item2 {
  position: absolute;
  right: 0;
  top: 0;
  width: 80%;
}

.item1 {
  position: absolute;
  right: 0;
  top: -20px;
  width: 99%;
}

.item1 .a{
  position: absolute;
  margin-top: 10px;
}

.item3{
  position: absolute;
  right: 0;
  top: 50px;
  width: 75%;
  text-align: center;
  color: #fff;
  font-size: 18px;
}

.item4{
  position: absolute;
  right: 0;
  top: 50px;
  width: 50%;
  text-align: center;
  color: #fff;
  font-size: 18px;
}

.item5{
  position: absolute;
  right: 0;
  top: 50px;
  width: 25%;
  text-align: center;
  color: #fff;
  font-size: 18px;

}

.item6{
  position: absolute;
  margin-left: 250px;
  top: 260px;
  width: 100%;
}
.admin-image img
{
  position: absolute;
  margin-left: 1000px;
  margin-top: 270px;
}
p
{
  font-weight: bold;
  font-size: 30px;
}
td, th
{
  color: rgb(0, 0, 0);
}
table
{
  padding: 5px 5px 5px 5px;
  border-radius: 20px;
  border: solid;
  border-width: 5px;
  border-color: #065757;
}
#editbtn
{
 background-color: #065757;
 border: none;
}
a.pagination
{
  color: #065757;
  font-size: 20px;
  margin-top: -10px;
 margin-left: 160px;

}
a
{
  color: #fff;
}
a:hover
{
  color: black;
}
#insertbtn
{
  margin-left: 220px;
  margin-top: -5px;
  background-color: #E56C15;
  border: none;
}
form
{
  width: 0;
  height: 0;
}
