@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
*
{
    margin: 0;
    padding: 0;
}
body
{
    background-image: url("../images/login-owner.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
    background-size:cover;
    background-position: center;
    overflow-y: hidden;
    overflow-x: hidden;
}
.container
{
    width: 30%;
    height: 70vh;
    margin: 70px 0px 0px 450px;
    background: #323232;
    box-shadow: 20px 20px 20px #18ABAB;
    padding-top: 3%;
}
.heading
{
    font-family: 'Inter', sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 28px;
    line-height: 10px;
    color: #FFFFFF;
    text-align: center;
}
form
{
    padding-top: 15%;
    padding-left: 10%;
}
.input-group
{
    margin-bottom: 20px;
}
label
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 5px;
    color: #FFFFFF;
}
input.line
{
    background-color: transparent;
    border-width: 0px 0px 2px 0px;
    border-color: #FFFFFF;
    margin-left: 5%;
    width: 55%;
}
input:focus, textarea 
{ 
    outline: none ! important; 
}
input.button
{
    margin-top: 10px;
    margin-left: 12%;
    width: 60%;
    height: 8vh;
    border-radius: 30px;
    border: none;
    border-color: #FFFFFF;
    text-align: center;
    font-family: 'Inter';
    font-style: bold;
    font-weight: 900;
    font-size: 20px;
    line-height: 6px;
    color: #18ABAB;
}
p
{
    margin-top: 30px;
    color: #FFFFFF;
}
p a 
{
    text-decoration: underline;
    color: #18ABAB;
}