@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
*, *:before, *:after 
{ 
    box-sizing: border-box; 
}
html 
{ 
    font-size: 18px; 
}
*
{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}
body
{
    width: 100%;
    height: auto;
    overflow-x: hidden;
}
.nav-item img
{
    width: 120px;
    margin-top: -10px;
    margin-left: 20px;
}
li#button1
{
    position: absolute;
    padding-top: 15px;
    border-radius: 50px;
    width: 200px;
    height: 60px;
    margin-left: 60%;
    float: right;
    margin-top: 2%;
    background-color: #E56C15;
    text-align: center;
    font-size: 20px;
}
#button1 a
{
    color: #ffffff;
    text-decoration: none;
}
label .menu {
    position: absolute;
    right: -100px;
    top: -80px;
    z-index: 100;
    width: 200px;
    height: 200px;
    background: #FFF;
    border-radius: 50% 50% 50% 50%;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
    cursor: pointer;
    
  }
    
  label .hamburger {
    position: absolute;
    top: 135px;
    left: 50px;
    width: 30px;
    height: 2px;
    background: #18ABAB;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
    
  label .hamburger:after, label .hamburger:before {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #69d2e7;
  }
    
  label .hamburger:before { top: -10px; }
  
  label .hamburger:after { bottom: -10px; }
  
  label input { display: none; }
  
  label input:checked + .menu {
    box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
    border-radius: 0;
    
  }
  
  label input:checked + .menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    
  }
  
  label input:checked + .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
    
  }
  
  label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
    
  }
    
  label input:checked + .menu + ul { opacity: 1; }
  
  label ul {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .25s 0s ease-in-out;
  transition: .25s 0s ease-in-out;
  list-style-type: none;
  }
  
  label a {
  margin-bottom: 1em;
  display: block;
  color: #E56C15;
  text-decoration: none;
  }
.page1
{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.page-1-img img
{
    width: 70%;
    margin-left: 50px;
}
.page-1-words
{
    text-align: center;
    margin-top: 90px;
}
.heading h1
{
  font-style: bold;
  font-weight: 900;
  font-size: 80px;
  line-height: 10px;
  color: #E56C15;
}
.heading2 h1
{
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 100px;
  color: #131211;
}
.button
{
  border-radius: 70px;
  width: 400px;
  height: 80px;
  top: 600px;
  border: 5px solid #18ABAB;
  left: 750px;
  background-color: transparent;
  font-size: 30px;
  font-weight: bold;
  box-shadow: 10px 10px 5px lightblue
}
.page-2 
{
    margin-top: 100px;
}
.page-2 .row
{
    margin-top: 60px;
}

.page-2 h1
{
    text-align: center;
    font-style: bold;
    font-weight: 900;
    font-size: 80px;
    line-height: 10px;
    color: #E56C15;
}
.page-2 p
{
    text-align: center;
    margin-top: 60px;
    font-size: 30px;
}
#col1 img, #col2 img, #col3 img
{
    margin-top: 40px;
    margin-left: 100px;
}
#col2 img, #col3 img
{
    width: 40%;
}
#col1 img
{
    margin-left: 100px;
    width: 32%;
}
#col1 p, #col2 p, #col3 p
{
    color: #ffffff;
    font-size: 50px;
    text-align: center;
}
#col1 p
{
    margin-left: -20px;
    margin-top: 50px;
}
#col2 p
{
    margin-top: 65px;
    margin-left: 5px;
}
#col3 p
{
    margin-top: 50px;
    margin-left: 10px;
}
#col1, #col3
{
    width: 300px;
    height: 350px;
    background-color: #E56C15;
    border-radius: 50px;
}
#col1, #col2
{
    margin-right: 50px;
}
#col2
{
    width: 300px;
    height: 350px;
    background-color: #1b7e92;
    border-radius: 50px;
}
footer
{
    width: 100%;
    height: 50vh;
    background-color: #dc6816; 
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}
.footer-copyright img
{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(80,73,80,1);
    width: 250px;
    padding-top: 25%;
    padding-left: 50%;
}
.footer-links
{
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 30vh;
    justify-content: space-between;
    padding-left: 40%;
    padding-top: 7%;
}
.footer-links li b
{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgb(255, 255, 255);
}
.footer-links li a
{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgb(255, 255, 255);
}
.footer-links ul li
{
    list-style: none;
}
.footer-links ul li a
{
    text-decoration: none;
    cursor: pointer;
}

